.c-result-item {
  height         : 100px;
  list-style-type: none;
  background-color: #f5efe9;
  color: #3f3a30;
}

  .c-result-item__title {
    font-size : 20px;
    font-style: italic;
  }

  .c-result-item__author {
    font-size  : 16px;
    font-weight: 600;
  }

  .c-result-item__year {
    font-size : 16px;
    font-style: italic;
  }

  .c-result-item__img {
    max-width : 95px;
    max-height: 95px;
  }

.sharing {
  color: #6e88b6;
  font-size: 14px;
  text-align: center;
  padding-top: 5px;
}